<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jigyasa.poll_khol">

    <application
        android:allowBackup="true"
        tools:replace ="android:icon"
        android:icon="@mipmap/ic_launcherpk"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        //Splash Screen
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        //LogIn
        <activity
            android:name=".LogIn"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".MyLogIn"
            android:label="@string/app_name" >
        </activity>



        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyNavigationDrawerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Intent Filter - Twitter -->
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="oauth" android:host="t4jsample"/>
        </intent-filter>

    </application>

    <!-- Permission - Internet Connect -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
